<!-- Portfolio Modals -->
{% for post in site.posts %}
	{% if post.tag != 'news' %}
   <div class="portfolio-modal modal fade" id="{{ post.modal-id }}" tabindex="-1" role="dialog" hidden="true">
       <div class="modal-content">
           <div class="close-modal"  data-dismiss="modal">
               <div class="lr">
                   <div class="rl">
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div style="width:90%; margin-left:5%;" class="col-lg-8 col-lg-offset-2">
                       <div class="modal-body">
                           <h2>{{ post.title }}</h2>
                           <hr class="star-primary">
                           <p>
                             {{post}}
                             </p>
                           <div>
                             </div>
                           <button type="button" class="close-modal-btn btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
	 {%endif%}
{% endfor %}
